.navbar {
  background-color: var(--secondary-black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}

.navbar__link {
  color: var(--primary-white);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 1em;
  transition-duration: 0.1s;
  text-decoration: none;
}

.navbar__link:hover {
  color: var(--secondary-white);
  border-bottom: 2px solid var(--secondary-white);
}

.navbar__link--active {
  color: var(--secondary-white);
  border-bottom: 2px solid var(--secondary-white);
}
